:root{
    --Pink: hsl(322, 100%, 66%);
    --Light--Pink: hsl(321, 23%, 36%);
    --Very--Dark--Cyan: hsl(192, 100%, 9%);
}
*{
    margin: 0px;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 50px 0;
    font-size: 30px;
}
.App-form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    gap: 10px 0;
}
.form-NumberKm{
    padding: 0.3em 0.5em;
    background-color: var(--Light--Pink);
    border-radius: 30px;
}
.App-input{
    width: 100%;
    height: 30%;
    font-size: 30px;
}